
@model HomeViewModel;

@await Html.PartialAsync("_Carousel")

<h2>Prefered Drinks of the week</h2>
<h4>Just For You!</h4>

<div class="row">
    @foreach (var item in Model.PreferedDrinks)
    {
        @Html.Partial("DrinkSummary", item)
    }    
</div>