@model ShoppingCartViewModel


@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <span id="cart-status">
        Cart (@Model.ShoppingCart.ShoppingCartItems.Count)
    </span>
} else
{
    <span id="cart-status">Cart (0)</span>
}
